################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Chips-challenge-monogame/bin
/Chips-challenge-monogame/obj
/.vs/Chips-challenge-monogame
/Chips-challenge-monogame/Content/obj
/Chips-challenge-monogame/Content/bin